<config xmlns="http://xquerrail.com/config"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xquerrail.com/domain file:../_framework/schemas/config.xsd"
    >
    <!--Configurations-->
    <!--Routing Module and Configuration-->
    <routes-config resource="routes.xml"/>
    <routes-module resource="routing.xqy"/>

    <controller-extension/>

    <anonymous-user value="<%= xquerrail.user %>"/>

    <default-application value="<%= xquerrail.name %>"/>

    <!--Register Your Application(s) Here-->
    <application name="<%= xquerrail.name %>" namespace="<%= xquerrail.applicationNamespace.uri %>" uri="/main/app">
      <domain resource="domains/application-domain.xml" />
      <script-directory resource="resources/js/"/>
      <stylesheet-directory resource="resources/css/"/>
      <default-template value="main"/>
    </application>

    <!--Interceptors-->
    <interceptors>
       <!-- interceptor
            name="ml-security"
            resource="ml-security.xml"
            before-request="false"
            after-request="true"
            before-response="false"
            after-response="false"
        / -->
    </interceptors>
    <properties/>
</config>
